In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Titanic Dataset

#### dataset - https://www.kaggle.com/competitions/titanic

### Demonstrating simple imputing methods of using mean,median and mode on the datasets

In [2]:
df1 = pd.read_csv("./titanic dataset/train.csv")
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Checking what columns have missing values

In [3]:
df1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Cabin columns has almost all values missing, thus we outright drop it.

In [4]:
df1.drop(columns=['Cabin'], inplace=True)
df1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

### For 'Age' we will substitute the missing values with the mean of the present values, and for 'Embarked' we will substitute the two missing values with mode of the present values

In [5]:
imp_mean = SimpleImputer(strategy='mean')
df1['Age'] = imp_mean.fit_transform(df1[['Age']])

imp_mf = SimpleImputer(strategy='most_frequent')
df1['Embarked'] = imp_mf.fit_transform(df1[['Embarked']])

df1.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

# Travel Times Dataset

#### dataset - https://openmv.net/info/travel-times

### Demonstrating imputing by estimating missing feature based on the other available features done using sklearn iterative imputer

In [6]:
df2 = pd.read_csv('./traveltime openmv/travel-times.csv')
df2.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,8:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,7:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

### Check for null values

In [7]:
df2.isnull().sum()

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy        19
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
dtype: int64

### The column for comments is mostly missing so we can safely drop it

In [8]:
df2.drop(columns=['Comments'], inplace=True)

### For 'FuelEconomy' column we can use - distance, maxspeed, avgspeed, avgmovingspeed, totaltime, movingtime to predict its missing values

In [9]:
df2_sub = df2[['Distance', 'MaxSpeed', 'AvgSpeed', 'AvgMovingSpeed', 'TotalTime', 'MovingTime','FuelEconomy']]
df2_sub.head()

,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,TotalTime,MovingTime,FuelEconomy
0,51.29,127.4,78.3,84.8,39.3,36.3,NaN
1,51.63,130.3,81.8,88.9,37.9,34.9,NaN
2,51.27,127.4,82.0,85.8,37.5,35.9,NaN
3,49.17,132.3,74.2,82.9,39.8,35.6,NaN
4,51.15,136.2,83.4,88.1,36.8,34.8,NaN

### Now using iterative imputer to impute the missing values

In [10]:
imp_iter = IterativeImputer(random_state=0)
df2['FuelEconomy'] = imp_iter.fit_transform(df2_sub)
df2.isnull().sum()

Date              0
StartTime         0
DayOfWeek         0
GoingTo           0
Distance          0
MaxSpeed          0
AvgSpeed          0
AvgMovingSpeed    0
FuelEconomy       0
TotalTime         0
MovingTime        0
Take407All        0
dtype: int64

# Brewer's friend beer recipes Dataset

#### dataset - https://www.kaggle.com/datasets/jtrofe/beer-recipes

In [11]:
df3 = pd.read_csv('./recipe data/recipeData.csv', encoding='latin-1')
df3.head()

,BeerID,Name,URL,Style,StyleID,Size(L),OG,FG,ABV,IBU,...,BoilGravity,Efficiency,MashThickness,SugarScale,BrewMethod,PitchRate,PrimaryTemp,PrimingMethod,PrimingAmount,UserId
0,1,Vanilla Cream Ale,/homebrew/recipe/view/1633/vanilla-cream-ale,Cream Ale,45,21.77,1.055,1.013,5.48,17.65,...,1.038,70.0,NaN,Specific Gravity,All Grain,NaN,17.78,corn sugar,4.5 oz,116.0
1,2,Southern Tier Pumking clone,/homebrew/recipe/view/16367/southern-tier-pumk...,Holiday/Winter Special Spiced Beer,85,20.82,1.083,1.021,8.16,60.65,...,1.070,70.0,NaN,Specific Gravity,All Grain,NaN,NaN,NaN,NaN,955.0
2,3,Zombie Dust Clone - EXTRACT,/homebrew/recipe/view/5920/zombie-dust-clone-e...,American IPA,7,18.93,1.063,1.018,5.91,59.25,...,NaN,70.0,NaN,Specific Gravity,extract,NaN,NaN,NaN,NaN,NaN
3,4,Zombie Dust Clone - ALL GRAIN,/homebrew/recipe/view/5916/zombie-dust-clone-a...,American IPA,7,22.71,1.061,1.017,5.80,54.48,...,NaN,70.0,NaN,Specific Gravity,All Grain,NaN,NaN,NaN,NaN,NaN
4,5,Bakke Brygg Belgisk Blonde 50 l,/homebrew/recipe/view/89534/bakke-brygg-belgis...,Belgian Blond Ale,20,50.00,1.060,1.010,6.48,17.84,...,1.050,72.0,NaN,Specific Gravity,All Grain,NaN,19.00,Sukkerlake,6-7 g sukker/l,18325.0

In [12]:
df3.isnull().sum()

BeerID               0
Name                 1
URL                  0
Style              596
StyleID              0
Size(L)              0
OG                   0
FG                   0
ABV                  0
IBU                  0
Color                0
BoilSize             0
BoilTime             0
BoilGravity       2990
Efficiency           0
MashThickness    29864
SugarScale           0
BrewMethod           0
PitchRate        39252
PrimaryTemp      22662
PrimingMethod    67095
PrimingAmount    69087
UserId           50490
dtype: int64

### For 'Name' column there is no point estimating a name so we can delete that observation. For 'Priming Method' , 'PrimingAmount', 'UserID' the missing values are too numerous so we will drop the columns themselves.

In [13]:
df3.drop(columns=['PrimingMethod', 'PrimingAmount', 'UserId'], inplace=True)
indexname = df3[df3['Name'].isnull()].index
df3.drop(indexname,axis=0,inplace=True)
df3.isnull().sum()

BeerID               0
Name                 0
URL                  0
Style              596
StyleID              0
Size(L)              0
OG                   0
FG                   0
ABV                  0
IBU                  0
Color                0
BoilSize             0
BoilTime             0
BoilGravity       2990
Efficiency           0
MashThickness    29864
SugarScale           0
BrewMethod           0
PitchRate        39252
PrimaryTemp      22662
dtype: int64

In [14]:
df3.describe()

,BeerID,StyleID,Size(L),OG,FG,ABV,IBU,Color,BoilSize,BoilTime,BoilGravity,Efficiency,MashThickness,PitchRate,PrimaryTemp
count,73860.000000,73860.000000,73860.000000,73860.000000,73860.000000,73860.000000,73860.000000,73860.000000,73860.000000,73860.000000,70870.000000,73860.000000,43996.000000,34608.000000,51198.000000
mean,36931.120214,60.179840,43.930113,1.406272,1.075866,6.136945,44.276786,13.405164,49.725285,65.074939,1.353960,66.354831,2.127249,0.750475,19.175603
std,21322.097765,56.811738,180.374690,2.196922,0.432527,1.883397,42.945489,11.944498,193.247710,15.024318,1.931002,14.091775,1.682364,0.394266,4.219708
min,1.000000,1.000000,1.000000,1.000000,-0.003000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-17.780000
25%,18465.750000,10.000000,18.930000,1.051000,1.011000,5.080000,23.370000,5.170000,20.820000,60.000000,1.040000,65.000000,1.500000,0.350000,18.000000
50%,36931.500000,35.000000,20.820000,1.058000,1.013000,5.790000,35.770000,8.440000,27.440000,60.000000,1.047000,70.000000,1.500000,0.750000,20.000000
75%,55396.250000,111.000000,23.660000,1.069000,1.017000,6.830000,56.380000,16.790000,30.000000,60.000000,1.060000,75.000000,3.000000,1.000000,20.000000
max,73861.000000,176.000000,9200.000000,34.034500,23.424600,54.720000,3409.300000,186.000000,9700.000000,240.000000,52.600000,100.000000,100.000000,2.000000,114.000000

### Boil gravity has a small percent of missing values with low std deviation so we will impute the missing values with its mean

In [15]:
# imp_mean = SimpleImputer(strategy='mean')
# df3['BoilGravity'] = imp_mean.fit_transform(df3[['BoilGravity']])
# df3.isnull().sum()